nav{
    background-color: #691002;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #691002;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    transition: all 0.5s linear;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .navbar-brand {
    padding: 0;
    margin-left: 15px;
    margin-top: 7px;
  }

  li a:hover {
    background-color: #111;
    color: white;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .inicio {
    background-color: #AD1A03;
  }
  
.jumbotron {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto)
}

.intro {
    display: flex;
    flex-direction: column;
    color: darkgray;
    padding-top: 100px;
}

.input-email {
    width: 65%;
    margin-bottom: 10px;
}

.input-email input{
    background-color: darkgray;
}

.input-email p{
    text-align: center;
    font-size: 10px;
}

.intro-catalogo {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #000;
    color: darkgray;

}
.img-catalogo {
    background-color: #000;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto)
    
}

.img-catalogo div{
    background-color: #BA1C04;
    border: 1px solid #FA2605;
    border-radius: 10px;
    padding: 0%;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    color: darkgray;
    overflow:hidden;
}

.img-catalogo img{
    width: 668px;
    border-radius: 10px;
    padding:0%;   
    
}

.img-catalogo p{
    padding-top: 20px;
}
.jack img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.baphomet img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.ouija img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.ouija-rosa img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.dino{
    grid-column-start: 1;
    grid-column-end: 3;
}

.dino img:hover {
    transform:scale(1.1);
    transition: 1s;
}



.Adicionales {
    background-color: #e0c6c69a;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 10px;
    transition: all 2s linear;
    transition-delay: 1s;
}

.Adicionales:hover{
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linear;

    background-color: #941603;
    color: rgba(255, 255, 255, 0.801);
}

.css-input {
    display: flex;
    flex-direction: column;
    width: 1000px;
    padding: 30px;
    margin-left: 13%;
    font-size: 15px;
    border-width: 1px;
    border-color: #f42828;
    background-color: hsla(0, 4%, 91%, 0.521);
    color: #c94848;
    border-style: hidden;
    border-radius: 5px;
    box-shadow: 0px 0px 7px rgba(66,66,66,.56);
    text-shadow: 0px 0px 1px rgba(66,66,66,.26);
}
.css-input:focus {
    outline:none;
}

footer {
    background-color: black;
    padding: 100px;
    text-align: justify;
    text-align: center;

}