body h1{
    font-family: 'Montserrat', sans-serif;
}

body h2{
    font-family: 'Montserrat', sans-serif;
}

body p{
    font-family: 'Bebas Neue', cursive;   
}
nav{
    background-color: #f6f6f6;
    margin: none

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

    transition: all 0.5s linear;
  }

  li {
    float: left;
  }

  li a {
    display: block;
    color: #211d27;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 20px;
    font-family: 'Bebas Neue', cursive;
  }

  .navbar-brand {
    padding: 0;
    margin-left: 15px;
    margin-top: 7px;
  }

  li a:hover {
    background-color: #f6f2c8;
    color: #211d27;
    border-radius: 10px ;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: linear;
  }

  .inicio {
    background-color: #e5144b;
  }
  
.jumbotron {
    background-color: #e5144b;
    margin-top: none;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(100px, auto)
}

.jumbotron img {
    width: 676px;
}

.intro {
    display: flex;
    flex-direction: column;
    color: #211d27;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #f6f2c8;

}

.oferta a{
    text-decoration:none;
    color: #211d27;
}
.oferta{
    font-size: 10px;
    background-color: #f6f2c8;
    border-radius: 30px;
    width: 50%;
    margin-bottom: 30px;
    padding: 2px;
}

.intro h1{
    font-size: 60px;
    margin-bottom: 30px;
    font-weight: bold;
}

.frase {
    font-style: italic;
}

.input-email {
    
    margin-bottom: 10px;

}

.input-email input{
    background-color: #c6c6c6;
    width: 100%;

}

.input-email:hover{
    background-color: #c6c6c6;  
}

.tyc {
    font-size: 10px;
}

.intro-catalogo {
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    background-color: #e5144b;
    color: #211d27;

}
.img-catalogo {
    padding-bottom: 10px;
    font-size: 30px;
    font-style: bold;
    background-color: #e5144b;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto)
    
}

.img-catalogo div{
    background-color: #e5144b;
    border: 1px solid #26b7c5;
    border-radius: 10px;
    padding: 0%;
    text-align: center;
    font-size: 24px;
    font-style: italic;
    overflow:hidden;
}

.img-catalogo img{
    width: 668px;
    border-radius: 10px;
    padding:0%;   
    
}

.frase1{
    font-size: 13px;
    font-style: italic;
}

.img-catalogo p{
    padding-top: 20px;
}
.jack img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.baphomet img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.ouija img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.ouija-rosa img:hover {
    transform:scale(1.1);
    transition: 1s;
}

.dino{
    grid-column-start: 1;
    grid-column-end: 3;
}

.dino img:hover {
    transform:scale(1.1);
    transition: 1s;
}



.Adicionales {
    background-color: #575756;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
    transition: all 1s linear;
}

.Adicionales:hover{
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: linearta;

    background-color: #211d27;
    color: rgba(255, 255, 255, 0.801);
}

.Adicionales p{
    margin-left: 55px;
    margin-right: 55px;
}

.input-libreta {
    display: flex;
    flex-direction: column;

}

textarea{
    width: 1000px;
    background-color: #c6c6c6;
    border-radius: 10px;
    box-shadow: 20px #211d27;
    text-align: center;
}

.quienes-somos{
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin-left: 35px;
    margin-right: 35px;
}

.contacto h2{
    margin-left: 35px;
    margin-right: 35px;
}

.contacto input{
    background-color: #c6c6c6;
    border-radius: 10px;
    box-shadow: 20px #211d27;
}


#email {
    margin-left: 14px;
}

.buenfin{
    margin-left: 35px;
    margin-right: 35px;
    font-size: 30px;
    font-style: italic;
}
footer {
    background-color: black;
    padding: 50px;
    text-align: justify;
    text-align: center;

}

.instagram{
    text-decoration:none;
    color: #211d27;
    padding-bottom: 16px;
}

.instagram:hover{
    color: #211d27;
}

@media screen and (max-width: 640px) {
    li a {
    padding: 0;
    padding-top: 10px;
    }
    
    .inicio {
        background-color: #e5144b;
        padding-bottom: 10px;
    }

    .jumbotron {
        display: flex;
        flex-direction: column;
        border: 0 0 0 0;
    }

    .jumbotronv img{
        width: 100%;
    }
    
    .intro{
        border-bottom: 0;
    }

    .img-catalogo {
        display: flex;
        flex-direction: column;
        width: 96.5%;

    }
    
    textarea {
        width: 300px;
    }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
    li a {
        padding-right: 0;
    }

    .inicio{
        padding-left: 10px;
        padding-right: 10px;
    }

    .jumbotron{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .jumbotron img{
        width: 100%;
    }
    .intro{
        border-bottom: 0;
    }

    .img-catalogo {
        display: flex;
        flex-direction: column;
    }

    textarea{
        width: 350px;
    }
}  